.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.code-workspace
.DS_Store
*.log
*.bak   
*.swp
PLACA/placa-ESP32/.pio
PLACA/placa-ESP32/.vscode/.browse.c_cpp.db*
PLACA/placa-ESP32/.vscode/c_cpp_properties.json
PLACA/placa-ESP32/.vscode/launch.json
PLACA/placa-ESP32/.vscode/ipch
tp1/gmon.out
tp1/PLACA/placa-ESP32/gmon.out
tp1/PLACA/placa-ESP32/.vscode/gmon.out
tp1/.gitignore
tp1/gmon.out
tp1/perf.data
tp1/perf.data.old
tp1/perf.unfolded
tp1/test_gprof